# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.venv/
venv/
env/

# Conda
.conda/

# Environment variables
.env

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# Build
dist/
build/

# Node
node_modules/

# Chrome Extension
*.pem